[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pixel-ring = {editable = true, path = "./pixel_ring"}
paho-mqtt = "*"
python-dotenv = "*"
gpiozero = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.0"
